<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b702f1e5f.js" crossorigin="anonymous"></script>
    <title>Investment</title>
</head>

<body>
        <div id="mobile-only-warning">
        <div class="warning-content">
            <h1>🚫 Site Unavailable</h1>
            <p>Please switch to a mobile phone or shrink your browser window to continue.</p>
            <p>This application is designed for mobile screens only.</p>
        </div>
    </div>
    <div class="all_ul">
        <ul>
            <li>
                <a href="/home">
                    <span class="material-symbols-outlined">home</span> home
                </a>
            </li>
            <li>
                <a href="/invest" class="active">
                    <span class="material-symbols-outlined">bid_landscape</span> Investment
                </a>
            </li>
            <li>
                <a href="/alliance">
                    <span class="material-symbols-outlined">groups</span> Alliance
                </a>
            </li>
            <li>
                <a href="/profile">
                    <span class="material-symbols-outlined">person</span> Profile
                </a>
            </li>
        </ul>
    </div>

    <div class="my_inve">
        <img src="/img/logo.png" alt="">
    </div>

    <div class="new_containers2">
        <div class="view_more_card">
            <h2>My Investment</h2>
            <div class="ong_cont">
                <p>Ongoing Contact</p>
                <span>0</span>
            </div>
            <button>View More</button>
        </div>
    </div>

    <div class="rr2_all">
        <div class="rr2">
            <button class="btn1">REDD</button>
            <button class="btn2">REP</button>
        </div>
        <div class="all_btn">
            <button class="btn1">All</button>
            <button class="btn2">Forest Protection</button>
        </div>
    </div>


    <section class="new_containers">

        <div class="containers_anchor">
            <div class="achordiv">
                <a href="#" class="anchor_container all_body">
                    <div class="row1">
                        <div class="new1">
                            <img src="/img/neutral.jpg" alt="">
                        </div>
                        <div class="new2">
                            <h2>New Member Experience Program</h2>
                            <div class="two_btn">
                                <button>REDDForest Protection</button>
                                <button style="border: 2px dashed #4caf50;">🌱 +500</button>
                            </div>
                            <div class="invest_btn">
                                <p>&#8358;500</p>
                                <button>Invest</button>
                            </div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col">
                            <h2>Contact Duration <span>3Days</span></h2>
                        </div>
                        <div class="col">
                            <h2>Contact share 1</h2>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="col">
                            <div class="h2">
                                <p>Daily Rate</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;300</p>
                                <button>(+60.00%)</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h2">
                                <p>Total Revenue</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;900</p>
                                <button>(+180%)</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="achordiv">
                <a href="#" class="anchor_container all_body">
                    <div class="row1">
                        <div class="new1">
                            <img src="/img/neutral.jpg" alt="">
                        </div>
                        <div class="new2">
                            <h2>New Member Experience Program</h2>
                            <div class="two_btn">
                                <button>REDDForest Protection</button>
                                <button style="border: 2px dashed #4caf50;">🌱 +500</button>
                            </div>
                            <div class="invest_btn">
                                <p>&#8358;500</p>
                                <button>Invest</button>
                            </div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col">
                            <h2>Contact Duration <span>3Days</span></h2>
                        </div>
                        <div class="col">
                            <h2>Contact share 1</h2>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="col">
                            <div class="h2">
                                <p>Daily Rate</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;300</p>
                                <button>(+60.00%)</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h2">
                                <p>Total Revenue</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;900</p>
                                <button>(+180%)</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="achordiv">
                <a href="#" class="anchor_container all_body">
                    <div class="row1">
                        <div class="new1">
                            <img src="/img/neutral.jpg" alt="">
                        </div>
                        <div class="new2">
                            <h2>New Member Experience Program</h2>
                            <div class="two_btn">
                                <button>REDDForest Protection</button>
                                <button style="border: 2px dashed #4caf50;">🌱 +500</button>
                            </div>
                            <div class="invest_btn">
                                <p>&#8358;500</p>
                                <button>Invest</button>
                            </div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col">
                            <h2>Contact Duration <span>3Days</span></h2>
                        </div>
                        <div class="col">
                            <h2>Contact share 1</h2>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="col">
                            <div class="h2">
                                <p>Daily Rate</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;300</p>
                                <button>(+60.00%)</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h2">
                                <p>Total Revenue</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;900</p>
                                <button>(+180%)</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="achordiv">
                <a href="#" class="anchor_container all_body">
                    <div class="row1">
                        <div class="new1">
                            <img src="/img/neutral.jpg" alt="">
                        </div>
                        <div class="new2">
                            <h2>New Member Experience Program</h2>
                            <div class="two_btn">
                                <button>REDDForest Protection</button>
                                <button style="border: 2px dashed #4caf50;">🌱 +500</button>
                            </div>
                            <div class="invest_btn">
                                <p>&#8358;500</p>
                                <button>Invest</button>
                            </div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col">
                            <h2>Contact Duration <span>3Days</span></h2>
                        </div>
                        <div class="col">
                            <h2>Contact share 1</h2>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="col">
                            <div class="h2">
                                <p>Daily Rate</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;300</p>
                                <button>(+60.00%)</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h2">
                                <p>Total Revenue</p>
                            </div>
                            <div class="p_btn">
                                <p>&#8358;900</p>
                                <button>(+180%)</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
    </section>


    <script src="/js/script.js"></script>
</body>

</html>